URxvt.foreground: white
URxvt.background: black
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.fading: 50
URxvt.font: xft:Dejavu Sans Mono:size=16
URxvt.boldFont: xft:Dejavu Sans Mono:style=Bold:size=16
URxvt.italicFont: xft:Dejavu Sans Mono:style=Oblique:size=16
URxvt.boldItalicFont: xft:Dejavu Sans Mono:style=Bold Oblique:size=16
